.navbar-shadow {
  box-shadow: inset 0px 0px 8px rgb(108, 108, 108);
  transition: all 0.3s ease-in-out;
}
/* 
.navbar {
  position: sticky;
  top: 10px; 
  z-index: 999;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftSubContainer {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Laisha', sans-serif;
  letter-spacing: 2px;
}

.heading {
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 3rem;
  margin: 1rem;
  color: #836FFF;
}

.rightSubContainer {
  width: 70%;
  font-family: 'Chivo', sans-serif;
}
.list-items {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.list-item:hover .item {
  transform: scale(0.90);
  color: red;
}


.item {
  display: inline-block;
  position: relative;
  padding-bottom: 4px;
  cursor: pointer;
}

.item::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 0;
  background-color: red;
  transition: width 0.4s ease-in-out;
}

.item:hover::before {
  width: 100%;
} */
